extends layout

block content
  img.homepage(src="/brown-road-bike-free-png.png" alt="brown bicycle")
  .page-content
    h1 Browse
    .buttons
      button(type="button" onclick="window.location.href='/buy.html'") Buy
      button(type="button" onclick="window.location.href='/sell.html'") Sell
